container_commands:
  01_migrate:
    command: "python manage.py migrate --fake --no-input --settings=pyrelloweb.settings"
    leader_only: true
  02_admin:
    command: "python manage.py admin --settings=pyrelloweb.settings"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: pyrelloweb.settings
