
/*************************************** BASE - BEGIN **********************************************/
body {
  margin: 0px;
  padding: 0px;
  background-color:  #f4f4f4;
  font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
}

.page-content-wrapper{
  padding-left: 300px;  
}

.main-container{
  padding:22px 106px 20px 28px;
}

.wrapper-clube {
  background-color: #8e3c96;
  width: 100%;
  height: 100px;
}

/*************************************** BASE - END ************************************************/

/*************************************** UTILITIES - BEGIN************************************/
.page-title{
  font-size: 32px;
  text-align: left;
  color: #8e3c96;
}

.card-single-value .card-header{
  text-align: left;
  color: #747474;
  font-size: 14px;
  font-weight: bold;
  background-color: #ffffff;
  border-bottom: 2px solid #f4f4f4;
}

.card-single-value .card-body{
  text-align: center;
}

.card-single-value .card-body .card-title{
  color: #747474;
  font-size: 32px;
}

.btn-login {
  background-color: #8e3c96;
  width: 242px;
  height: 38px;
  color: white;
}

.align-center-text {
  display: block;
  text-align: center;
}

.card-borderless{
  text-align: left;
  padding:0px 30px 0px 30px;
}

.card-borderless .title{
  color: #747474;
  font-size: 14px;

}

.card-borderless .text{
  font-size: 26px;
  color: #747474;
}

.card-borderless-campaign{
  text-align: right;
  margin-bottom: 10px;
}

.card-borderless-campaign .title{
  font-size: 14px;

}

.card-borderless-campaign .text{
  font-size: 22px;
}


.btn-light{
  border:1px solid rgba(0,0,0,.125);
}

.btn-group .btn-sm{
  font-size: 12px;
}

.btn-secondary:focus, .btn-secondary.focus {
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
          box-shadow: 0 0 1px 1px rgba(0,0,0,0.3);
}

.chart-title{
  text-align:left;
  font-size:14px;
  padding-left: 20px;
  color:#747474;
}

.btn-filtro{
  color:#ffffff;
  background-color: #763091;
  font-size:12px;
  padding: 6px 30px 6px 30px;
}

.table tr th, .table tr td{
  font-size: 12px;
  color: #747474;
  vertical-align: middle !important;
}

.nowrap{
  white-space: nowrap
}

.input-group-bottom-border .form-control{
  border: 0;
  border-radius: 0;
  font-size: 14px;
  background-color: transparent;
  outline: none;
  box-shadow:none;
  border-bottom:1px solid #ccc ;
}

.input-group-bottom-border .input-group-text{
  border: 0;
  border-bottom:1px solid #ccc ;
  border-radius: 0;
  background: transparent;
  vertical-align: bottom;
  padding:0;
}

.input-group-text i{
  color:#bbbbbb;
  padding: 0 10px 0 0;
}

.input-group-text text{
  color:#747474;
  padding-right: 3px;
  font-size: 14px;
}

.input-group-bottom-border .custom-select{
  padding-left: 0;
  padding-right: 0;
}

.card-header .card-title{
  line-height: 24px;
}

.px-6{
  padding-left: 5rem!important;
  padding-right: 5rem!important;
}

.custom-radio .custom-control-input:checked~.custom-control-label::after {
  background-image: none !important;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before{
  background-color:#8e3c96;
}

.btn-purple{
  color: #fff;
  background-color: #8e3c96;
  border-color: #8e3c96;
}

.btn-purple:hover {
  background-color: #763091;
}

.btn-yellow{
  color: #fff;
  background-color: #fcc00f;
  border-color: #fcc00f;
}

.btn-yellow:hover {
  background-color: #e7ad02;
}

.hide{
  display: none;
}

.orange{
  color:#ff9900;
}

.blue{
  color:#4a90e2;
}

.cell-error{
  background-color: #f2dede;
  color:#ff0000 !important;
  font-weight: bold;
}

.alert-danger{
  color:#a94442;
  background-color: #f2dede;
  border: solid 1px #ebcccc;
}

.clickable-rows > tr {
  cursor: pointer;
}

.select_disabled {
  background: #eee;
  pointer-events: none;
  touch-action: none;
}

/*************************************** UTILITIES - END************************************/
