{% extends 'base.html' %}
{% block content %}
{% load graphics_tags %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js">
</script>


    <script>
    $(function(){
        $("#help_act_percentil").hover(function(){
            $("#help_percentil").fadeIn();
        }
        ,function(){
            $("#help_percentil").fadeOut();
        });
    });
    $(function(){
        $("#help_act_delivery_chart").hover(function(){
            $("#help_delivery_chart").fadeIn();
        }
        ,function(){
            $("#help_delivery_chart").fadeOut();
        });
    });
    $(function(){
        $("#help_act_defectload").hover(function(){
            $("#help_defectload").fadeIn();
        }
        ,function(){
            $("#help_defectload").fadeOut();
        });
    });
    $(function(){
        $("#help_act_cfd_chart").hover(function(){
            $("#help_cfd_chart").fadeIn();
        }
        ,function(){
            $("#help_cfd_chart").fadeOut();
        });
    });
    $(function(){
        $("#help_act_leadtime_chart").hover(function(){
            $("#help_leadtime_chart").fadeIn();
        }
        ,function(){
            $("#help_leadtime_chart").fadeOut();
        });
    });

    $(function(){
        $("#help_act_histogram_chart").hover(function(){
            $("#help_histogram_chart").fadeIn();
        }
        ,function(){
            $("#help_histogram_chart").fadeOut();
        });
    });

    $(function(){
        $("#help_act_mean_value").hover(function(){
            $("#help_mean_value").fadeIn();
        }
        ,function(){
            $("#help_mean_value").fadeOut();
        });
    });
    $(function(){
        $("#help_act_mean_general").hover(function(){
            $("#help_mean_general").fadeIn();
        }
        ,function(){
            $("#help_mean_general").fadeOut();
        });
    });
    </script>



<div class="page-content-wrapper">
<div class="main-container container-fluid">
  {% page request as page %}
    <div>
        <div>
          <form method="post">{% csrf_token %} <input type="hidden" name="db_board_id"
            value="{{page.db_board_id}}"/> <text class="page-title">
            {{page.title }}</h3>
          {% if page.db_board_id %}
            <div>
            <h6>
                 <input type="date" width="20" name="start_date" max="3000-12-31"
                        min="1000-01-01" class="input-date" value="{{page.start_date|date:"Y-m-d"}}"> até 
                 <input type="date" name="end_date" min="1000-01-01"
                        max="3000-12-31" class="input-date" value="{{page.end_date|date:"Y-m-d"}}"> 
                 <input type="submit" value="Filtrar"/>
            </h6>
            </div>
          {% endif %}
          </form>
        </div>
    </div>

    {% throughput request as throughput_items %}

    {% leadtime request as leadtime_items %}
    {% if leadtime_items %}
    <div class="row" style="min-width:955px; width: 100% !important; width: 955px; ">
        <div style="min-width:600px; width: 60% !important; width: 600px;">
                <div style="float:left; margin:16px; width:43%">
                        <div class="card card-single-value mb-3" style="height:150px">
                          <div class="card-header">{{leadtime_items.percentile_config}}% de valor entregue em até
                            <div id="help_act_percentil" class="help_act">?</div>
                            <div id="help_percentil" class="help">
                                <p><h5>Duvidas sobre essa métrica?</h5>
                                Por favor, utilize o botão de feedback no canto direito da página e nos informe quais perguntas você gostaria que fossem respondidas nesse espaço.
                                </p>
                            </div>

                          </div>
                          <div class="card-body">
                            <text class="card-title">{{ leadtime_items.percentile }}</text><text class="title">dias</text>

                          </div>
                        </div>
                        <div class="card card-single-value mb-3" style="height:150px">
                          <div class="card-header">Carga de Falha                            <div class="help_act" id="help_act_defectload">?</div>
                            <div id="help_defectload" class="help">
                                <p><h5>Duvidas sobre essa métrica?</h5>
                                Por favor, utilize o botão de feedback no canto direito da página e nos informe quais perguntas você gostaria que fossem respondidas nesse espaço.
                                </p>
                            </div>

</div>

                          <div class="card-body">
                            <text class="card-title">{{ throughput_items.defectload }}%</text>
                          </div>
                        </div>
                </div>

                <div style="float:left;  margin:20px; width:43%">
                        <div class="card card-single-value mb-3" style="height:150px">
                          <div class="card-header">Média de entrega de valor semanal
                            <div class="help_act" id="help_act_mean_value">?</div>
                            <div id="help_mean_value" class="help">
                                <p><h5>Duvidas sobre essa métrica?</h5>
                                Por favor, utilize o botão de feedback no canto direito da página e nos informe quais perguntas você gostaria que fossem respondidas nesse espaço.
                                </p>
                            </div>

</div>
                          <div class="card-body">
                            <text class="card-title">{{ throughput_items.mean_value }}</text>
                          </div>
                        </div>
                        <div class="card card-single-value mb-3" style="height:150px">
                          <div class="card-header">Média de entrega geral semanal
                            <div class="help_act" id="help_act_mean_general">?</div>
                            <div id="help_mean_general" class="help">
                                <p><h5>Duvidas sobre essa métrica?</h5>
                                Por favor, utilize o botão de feedback no canto direito da página e nos informe quais perguntas você gostaria que fossem respondidas nesse espaço.
                                </p>
                            </div>

</div>
                          <div class="card-body">
                            <text class="card-title">{{ throughput_items.mean_general}}</text>
                          </div>
                        </div>
                </div>

        </div>

            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
              google.charts.load("current", {packages:["corechart"]});
              google.charts.setOnLoadCallback(drawChart);
              function drawChart() {

                {% autoescape off %}
                var data = google.visualization.arrayToDataTable({{throughput_items.type_totals}});
                {% endautoescape %}
              var options = {
                legend: 'none',
                pieSliceText: 'label',
                pieStartAngle: 100,
                height: 250,
                chartArea: {top: 5, height:'100%'},
                colors:['#FF5733','#8BC34A', '#90CAF9', '#FFE082'],
              };

                var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                chart.draw(data, options);
              }
            </script>


        <div class="card card-single-value mb-3" style="width:37%; margin-top:20px;  background-color:#fff;">
            <div class="card-header">Entregas principais por tipo
                        <div class="help_act" id="help_act_delivery_chart">?</div>
                            <div id="help_delivery_chart" class="help">
                                <p><h5>Duvidas sobre essa métrica?</h5>
                                Por favor, utilize o botão de feedback no canto direito da página e nos informe quais perguntas você gostaria que fossem respondidas nesse espaço.
                                </p>
                            </div>

</div>
            <div id="piechart" style="width: 100%; "></div>
        </div>
    </div>
    {% endif %}
    {% cfd request as cfd_items %}
    {% if cfd_items %}
    <div class="row">
        <div class="col-md-12">
            <div class="card card-single-value mb-3">   
                <div class="card-header">
                    <text class="card-title">CFD</text>
                            <div class="help_act" id="help_act_cfd_chart">?</div>
                            <div id="help_cfd_chart" class="help">
                                <p><h5>Duvidas sobre essa métrica?</h5>
                                Por favor, utilize o botão de feedback no canto direito da página e nos informe quais perguntas você gostaria que fossem respondidas nesse espaço.
                                </p>
                            </div>
                </div>
                <div class="card-body">
                    <div id="cfd"></div>
                </div>
                <script type="text/javascript">
                      google.charts.load('current', {'packages':['corechart']});
                      google.charts.setOnLoadCallback(drawChart);

                      function drawChart() {
                        {% autoescape off %}
                        var data = google.visualization.arrayToDataTable({{ cfd_items }});
                        {% endautoescape %}
                        var options = {
                          isStacked: true,
                          title: 'Cumulative Flow Diagram',
                          hAxis: {title: 'Dia',  titleTextStyle: {color: '#333'}},
                          vAxis: {minValue: 0},
                          height: 400,
                        };

                        var chart = new
                          google.visualization.AreaChart(document.getElementById('cfd'));
                        chart.draw(data, options);
                      }
                </script>
            </div>
        </div>
    </div>
    {% endif %}



    {% if throughput_items.data %}
    <div class="row">
        <div class="col-md-12">
            <div class="card card-single-value mb-3">   
                <div class="card-header">
                    <text class="card-title">Throughput</text>
                            <div class="help_act" id="help_act_percentil">?</div>
                            <div id="help_percentil" class="help">
                                <p><h5>Duvidas sobre essa métrica?</h5>
                                Por favor, utilize o botão de feedback no canto direito da página e nos informe quais perguntas você gostaria que fossem respondidas nesse espaço.
                                </p>
                            </div>


                </div>
                <div class="card-body">
                    <div id="throughput"></div>
                </div>

                <script type="text/javascript">
                    google.charts.load('current', {packages: ['corechart', 'bar']});
                    google.charts.setOnLoadCallback(drawBasic);

                    function drawBasic() {

                          var data = new google.visualization.DataTable();
                          data.addColumn('string', 'Semana');
                      {% for type in throughput_items.labels %}
                      data.addColumn('number', '{{type.1}}');
                      {% endfor %}

                      {% autoescape off %}
                      var list_data = {{throughput_items.data }}
                      {% endautoescape%}
                          data.addRows(list_data);

                          var options = {
                            title: 'Quantidade de entregas semanais',
                            colors:['#8BC34A', '#FF5733','#90CAF9', '#FFE082', '#D7CCC8'],
                            isStacked: true,
                            height: 400,
                            hAxis: {
                              title: 'Semanas',
                            },
                            vAxis: {
                              title: 'Quantidade de itens'
                            }
                          };

                          var chart = new google.visualization.ColumnChart(
                            document.getElementById('throughput'));

                          chart.draw(data, options);
                        }
                </script>
            </div>
        </div>
    </div>
    {% endif %}



    {% if leadtime_items %}
    <div class="row">
        <div class="col-md-12">
            <div class="card card-single-value mb-3">   
                <div class="card-header">
                    <text class="card-title">Leadtime dos cards de Valor</text>
                            <div class="help_act" id="help_act_leadtime_chart">?</div>
                            <div id="help_leadtime_chart" class="help">
                                <p><h5>Duvidas sobre essa métrica?</h5>
                                Por favor, utilize o botão de feedback no canto direito da página e nos informe quais perguntas você gostaria que fossem respondidas nesse espaço.
                                </p>
                            </div>


                </div>
                <div class="card-body">
                  <div id="leadtime"> </div>
                </div>

                <script type="text/javascript">
                    google.charts.load('current', {packages: ['corechart', 'line']});
                    google.charts.setOnLoadCallback(drawBasic);

                    function drawBasic() {
                          var data = new google.visualization.DataTable();
                          data.addColumn('number', 'X');
                          data.addColumn('number', 'Card');
                              var list_data = [
                                  {% for item in leadtime_items.cards %}
                                [{v:{{ forloop.counter0 }}, f:'{{item.leadtime}} days'},  {v:{{item.leadtime}}, f:'{{item.card.name}}'}],
                                  {% endfor %}
                                ]
                          data.addRows(list_data);
                          var options = {
                            hAxis: {
                              title: 'Cards'
                            },
                            vAxis: {
                              title: 'Days'
                            }
                          };

                          var chart = new
                        google.visualization.LineChart(document.getElementById('leadtime'));

                          chart.draw(data, options);
                        }
               </script>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-single-value mb-3">
                <div class="card-header">
                    <text class="card-title">Histogram dos cards de Valor</text>
                            <div class="help_act" id="help_act_histogram_chart">?</div>
                            <div id="help_histogram_chart" class="help">
                                <p><h5>Duvidas sobre essa métrica?</h5>
                                Por favor, utilize o botão de feedback no canto direito da página e nos informe quais perguntas você gostaria que fossem respondidas nesse espaço.
                                </p>
                            </div>


                </div>
                <div class="card-body">
                    <div id="histogram"></div>
                </div>

                <script type="text/javascript">
                    var card = "card";
                    google.charts.load("current", {packages:["corechart"]});
                    google.charts.setOnLoadCallback(drawChart);
                    function drawChart() {
                              var list_data = [
                                ['card', 'leadtime'],
                                  {% for item in leadtime_items.cards %}
                                [ '{{item.card.name}}', {{item.leadtime}}],
                                  {% endfor %}
                                ];
 
                      var data = google.visualization.arrayToDataTable(list_data);
                    
                      var options = {
                        title: 'Quantidade de cards entregues por período de tempo',
                        legend: { position: 'none' },
                      };
                    
                      var chart = new google.visualization.Histogram(document.getElementById('histogram'));
                      chart.draw(data, options);
                    }
                </script>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
