{% extends 'base.html' %}
{% block content %}
{% load graphics_tags %}
<div class="page-content-wrapper">
<div class="main-container container-fluid">
    <div class="row mb-3">
        <div class="col-md-3">
            <text class="page-title">
            Início</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card card-single-value mb-3">
                <div class="card-header">
                    <text class="card-title">Histogram</text>
                </div>
                <div class="card-body">
                    <div id="histogram"></div>
                </div>
                {% histogram as histogram_items %}
                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <script type="text/javascript">
                    google.charts.load("current", {packages:["corechart"]});
                    google.charts.setOnLoadCallback(drawChart);
                    function drawChart() {
                      var list_data = [
                        ['card', 'leadtime'],
                        {% for histogram_item in histogram_items %}
                        [{% for item in histogram_item %}  {{item}}, {% endfor %}],
                        {% endfor %}
                      ];
                      var data = google.visualization.arrayToDataTable(list_data);
                    
                      var options = {
                        title: 'Quantidade de cards entregues por período de tempo',
                        legend: { position: 'none' },
                      };
                    
                      var chart = new google.visualization.Histogram(document.getElementById('histogram'));
                      chart.draw(data, options);
                    }
                </script>
            </div>
        </div>
    </div>
</div>

{% endblock %}