{% extends 'base.html' %}
{% block content %}
{% load graphics_tags %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="page-content-wrapper">
<div class="main-container container-fluid">
  {% page_title request as page_title_text %}
    <div class="row mb-3">
        <div class="col-md-3">
            <text class="page-title">
            {{page_title_text }}</h3>
        </div>
    </div>

    {% throughput request as throughput_items %}

    {% leadtime request as leadtime_items %}
    {% if leadtime_items %}
     <div class="row">
      <div class="col-md-3">
        <div class="card card-single-value mb-3">
          <div class="card-header">90 Percentil Leadtime</div>
          <div class="card-body">
            <text class="card-title">{{ leadtime_items.1 }}</text>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card card-single-value mb-3">
          <div class="card-header">Média Throughput</div>
          <div class="card-body">
            <text class="card-title">{{ throughput_items.2}}</text>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card card-single-value mb-3">
          <div class="card-header">Mediana Throughput</div>
          <div class="card-body">
            <text class="card-title">{{ throughput_items.1 }}</text>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% cfd request as cfd_items %}
    {% if cfd_items %}
    <div class="row">
        <div class="col-md-12">
            <div class="card card-single-value mb-3">   
                <div class="card-header">
                    <text class="card-title">CFD</text>
                </div>
                <div class="card-body">
                    <div id="cfd"></div>
                </div>
                <script type="text/javascript">
                      google.charts.load('current', {'packages':['corechart']});
                      google.charts.setOnLoadCallback(drawChart);

                      function drawChart() {
                        {% autoescape off %}
                        var data = google.visualization.arrayToDataTable({{ cfd_items }});
                        {% endautoescape %}
                        var options = {
                          isStacked: true,
                          title: 'Cumulative Flow Diagram',
                          hAxis: {title: 'Dia',  titleTextStyle: {color: '#333'}},
                          vAxis: {minValue: 0},
                          height: 350,
                        };

                        var chart = new
                          google.visualization.AreaChart(document.getElementById('cfd'));
                        chart.draw(data, options);
                      }
                </script>
            </div>
        </div>
    </div>
    {% endif %}



    {% if throughput_items.0 %}
    <div class="row">
        <div class="col-md-12">
            <div class="card card-single-value mb-3">   
                <div class="card-header">
                    <text class="card-title">Throughput</text>
                </div>
                <div class="card-body">
                    <div id="throughput"></div>
                </div>

                <script type="text/javascript">
                    google.charts.load('current', {packages: ['corechart', 'bar']});
                    google.charts.setOnLoadCallback(drawBasic);

                    function drawBasic() {

                          var data = new google.visualization.DataTable();
                          data.addColumn('number', 'Semana');
                          data.addColumn('number', 'Itens');


                      var list_data = [
                        {% for throughput_item in throughput_items.0 %}
                        [{v:{{ throughput_item.0 }}, f:
                          'Semana {{throughput_item.0}}'}, {{ throughput_item.1 }}],
                        {% endfor %}
                      ];
                          data.addRows(list_data);

                          var options = {
                            title: 'Quantidade de entregas semanais',
                            hAxis: {
                              title: 'Semanas',
                            },
                            vAxis: {
                              title: 'Quantidade de itens'
                            }
                          };

                          var chart = new google.visualization.ColumnChart(
                            document.getElementById('throughput'));

                          chart.draw(data, options);
                        }
                </script>
            </div>
        </div>
    </div>
    {% endif %}



    {% if leadtime_items %}
    <div class="row">
        <div class="col-md-12">
            <div class="card card-single-value mb-3">   
                <div class="card-header">
                    <text class="card-title">Leadtime</text>
                </div>
                <div class="card-body">
                    <div id="leadtime"></div>
                </div>

                <script type="text/javascript">
                    google.charts.load('current', {packages: ['corechart', 'line']});
                    google.charts.setOnLoadCallback(drawBasic);

                    function drawBasic() {

                          var data = new google.visualization.DataTable();
                          data.addColumn('number', 'X');
                          data.addColumn('number', 'Leadtime');

                          var list_data = [
                            {% for leadtime_item in leadtime_items.0 %}
                            [{% for item in leadtime_item %}  {{item}}, {% endfor %}],
                            {% endfor %}
                          ];

                          data.addRows(list_data);

                          var options = {
                            hAxis: {
                              title: 'Cards'
                            },
                            vAxis: {
                              title: 'Leadtime'
                            }
                          };

                          var chart = new
                        google.visualization.LineChart(document.getElementById('leadtime'));

                          chart.draw(data, options);
                        }
               </script>
            </div>
        </div>
    </div>
    {% endif %}

    {% histogram request as histogram_items %}
    {% if histogram_items %}
    <div class="row">
        <div class="col-md-12">
            <div class="card card-single-value mb-3">
                <div class="card-header">
                    <text class="card-title">Histogram</text>
                </div>
                <div class="card-body">
                    <div id="histogram"></div>
                </div>

                <script type="text/javascript">
                    var card = "card";
                    google.charts.load("current", {packages:["corechart"]});
                    google.charts.setOnLoadCallback(drawChart);
                    function drawChart() {
                      var list_data = [
                        ['card', 'leadtime'],
                        {% for histogram_item in histogram_items %}
                        [{% for item in histogram_item %}  {{item}}, {% endfor %}],
                        {% endfor %}
                      ];
                      var data = google.visualization.arrayToDataTable(list_data);
                    
                      var options = {
                        title: 'Quantidade de cards entregues por período de tempo',
                        legend: { position: 'none' },
                      };
                    
                      var chart = new google.visualization.Histogram(document.getElementById('histogram'));
                      chart.draw(data, options);
                    }
                </script>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
